<!DOCTYPE html>
<html>

<head>
  <title>Criar Funcionário</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <h1>Declaração de bens</h1>
  <form id="declaracaoForm" class="formInputs" action="" method="post">

    <div class="divNomeCargo">
      <div>
        <label for="nome_completo">Nome Completo:</label>
        <input class="inputs" type="text" id="nome_completo" name="nome_completo" required>
      </div>
      <div>
        <label for="rg">RG:</label>
        <input class="inputs" type="text" id="rg" name="rg" required>
      </div>
    </div>
    <div class="divRgCPF">
      <div>
        <label for="cpf">CPF:</label>
        <input class="inputs" type="text" id="cpf" name="cpf" required>
      </div>
      <div>
        <label for="cargo_publico">Cargo Público:</label>
        <input class="inputs" type="text" id="cargo_publico" name="cargo_publico" required>
      </div>
    </div>
    <div class="divRuaCep">
      <div>
        <label for="endereco_rua">Endereço (Rua):</label>
        <input class="inputs" type="text" id="endereco_rua" name="endereco_rua" required>
      </div>
      <div>
        <label for="endereco_cep">Endereço (CEP):</label>
        <input class="inputs" type="text" id="endereco_cep" name="endereco_cep">
      </div>
    </div>

    <input class="buttonCriar" type="button" value="Criar" onclick="abrirModal()">


    <div id="termosModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="document.getElementById('termosModal').style.display='none'">×</span>
        <h2>Termos e Condições</h2>
        <p>Insira os termos e condições aqui. O usuário deve concordar com estes termos antes de prosseguir.</p>
        <button class="buttonTermos" onclick="aceitarTermos()">Aceito os termos</button>
      </div>
    </div>
  </form>

  <script>

    // Função para abrir o modal
    document.getElementById('declaracaoForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Impede o submit padrão
      document.getElementById('termosModal').style.display = 'block';
    });

    // Função para fechar o modal e marcar a caixa de seleção
    function aceitarTermos() {
      document.getElementById('termosModal').style.display = 'none';
      document.getElementById('declaracaoForm').submit(); // Submete o formulário
    }

    document.getElementById('declaracaoForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Impede o submit padrão

      document.getElementById('termosModal').style.display = 'block';
    });

    function abrirModal() {
      document.getElementById('termosModal').style.display = 'block';
    }

  </script>
</body>

</html>