<!DOCTYPE html>
<html>

<head>
  <title>Declaração de Bens</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css" >
</head>

<body>
  <h1>Declaração de Bens</h1>
  <form id="declaracaoForm" action="" method="post" class="formInputs">
    <div class="divNomeCargo">
      <div>
        <label for="nome-completo">Nome Completo:</label>
        <input class="inputsTitular" type="text" id="nome_completo" name="nome_completo" required>
      </div>
      <div>
        <label for="cargo_publico">Cargo/Emprego Público:</label>
        <input class="inputsTitular" type="text" id="cargo_publico" name="cargo_publico" required>
      </div>
    </div>

    <div class="divRgCPF">
      <div>
        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" class="inputsTitular" required>
      </div>
      <div>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="inputsTitular" required>
      </div>
    </div>

    <div class="divRuaCep">
      <div>
        <label for="endereco_rua">Endereço (Rua):</label>
        <input type="text" id="endereco_rua" name="endereco_rua" class="inputsTitular" required>
      </div>
      <div>
        <label for="endereco_cep">Endereço (CEP):</label>
        <input type="text" id="endereco_cep" name="endereco_cep" class="inputsTitular" required>
      </div>
    </div>

    <table id="patrimonio_table" class="descricao_patrimonio">
      <thead>
        <tr>
          <th>Descrição do Patrimônio</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="inputsPatrimonioTitular" type="text" name="descricao_patrimonio[]" required></td>
          <td><input class="inputsPatrimonioTitular" type="text" name="valor_patrimonio[]" required></td>
        </tr>
      </tbody>
    </table>

    <button type="button" onclick="adicionarLinha()">Adicionar Linha</button>
    <br><br>

    <div class="radio-group" style="display: flex; align-items: center;">
      <label for="possui_conjuge" style="margin-right: 10px;">Possui cônjuge?</label>
      <input class="" type="radio" id="possui_conjuge_sim" name="possui_conjuge" value="sim"
        onclick="exibirConjugeForm()" style="margin-right: 10px;">
      <label for="possui_conjuge_sim">Sim</label>
      <input type="radio" id="possui_conjuge_nao" name="possui_conjuge" value="nao" onclick="esconderConjugeForm()">
      <label for="possui_conjuge_nao">Não</label>
    </div>

    <div id="conjuge_form" style="display: none;">
      <label for="nome_conjuge">Nome do cônjuge:</label>
      <input class="inputsDadosConjuge" type="text" id="nome_conjuge" name="nome_conjuge"><br><br>
      <label for="rg_conjuge">RG do cônjuge:</label>
      <input class="inputsDadosConjuge" type="text" id="rg_conjuge" name="rg_conjuge"><br><br>

      <table id="conjuge_table">
        <thead>
          <tr>
            <th>Descrição do Patrimônio (Cônjuge)</th>
            <th>Valor (Cônjuge)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="inputsConjuge" type="text" name="descricao_patrimonio_conjuge[]" required></td>
            <td><input class="inputsConjuge" type="text" name="valor_patrimonio_conjuge[]" required></td>]
          </tr>
        </tbody>
      </table>

      <button class="buttonAdicionarConjuge" type="button" onclick="adicionarLinhaConjuge()">Adicionar Linha
        (Cônjuge)</button>
    </div>

    <br><br>

    <div class="radio-group" style="display: flex; align-items: center;">
      <label for="possui_dependente" style="margin-right: 10px;">Possui filhos/dependente econômico?</label>
      <input type="radio" id="possui_dependente_sim" name="possui_dependente" value="sim"
        onclick="document.getElementById('dependente_form').style.display = 'block';" style="margin-right: 10px;">
      <label for="possui_dependente_sim">Sim</label>
      <input type="radio" id="possui_dependente_nao" name="possui_dependente" value="nao"
        onclick="document.getElementById('dependente_form').style.display = 'none';">
      <label for="possui_dependente_nao">Não</label>
    </div>

    <div id="dependente_form" style="display: none;">
      <label for="nome_dependente">Nome do dependente:</label>
      <input class="inputsDadosDependente" type="text" id="nome_dependente" name="nome_dependente"><br><br>
      <label for="rg_dependente">RG do dependente:</label>
      <input class="inputsDadosDependente" type="text" id="rg_dependente" name="rg_dependente"><br><br>

      <table id="dependente_table">
        <thead>
          <tr>
            <th>Descrição do Patrimônio (Dependente)</th>
            <th>Valor (Dependente)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="inputsDependente" type="text" name="descricao_patrimonio_dependente[]" required></td>
            <td><input class="inputsDependente" type="text" name="valor_patrimonio_dependente[]" required></td>
          </tr>
        </tbody>
      </table>

      <button class="buttonAdicionarDependente" type="button" onclick="adicionarLinhaDependente()">Adicionar Linha
        (Dependente)</button>
    </div>

    <!-- The Modal -->
    <div id="termosModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="document.getElementById('termosModal').style.display='none'">×</span>
        <h2>Termos e Condições</h2>
        <p>Insira os termos e condições aqui. O usuário deve concordar com estes termos antes de prosseguir.</p>
        <button class="buttonTermos" onclick="aceitarTermos()">Aceito os termos</button>
      </div>
    </div>

    <br><br>
    <input class="buttonCriar" type="button" value="Criar" onclick="abrirModal()">
  </form>
  <script>
    function adicionarLinha() {
      var table = document.getElementById("patrimonio_table").getElementsByTagName('tbody')[0];
      var newRow = table.insertRow(table.rows.length);
      var cell1 = newRow.insertCell(0);
      cell1.innerHTML = '<input class="inputsPatrimonioTitular" type="text" name="descricao_patrimonio[]" required>';
      var cell2 = newRow.insertCell(1);
      cell2.innerHTML = '<input class="inputsPatrimonioTitular" type="text" name="valor_patrimonio[]" required>';
    }

    function adicionarLinhaConjuge() {
      var table = document.getElementById("conjuge_table").getElementsByTagName('tbody')[0];
      var newRow = table.insertRow(table.rows.length);
      var cell1 = newRow.insertCell(0);
      cell1.innerHTML = '<input class="inputsConjuge" type="text" name="descricao_patrimonio_conjuge[]" required>';
      var cell2 = newRow.insertCell(1);
      cell2.innerHTML = '<input class="inputsConjuge" type="text" name="valor_patrimonio_conjuge[]" required>';
    }

    function exibirConjugeForm() {
      document.getElementById("conjuge_form").style.display = "block";
    }

    function esconderConjugeForm() {
      document.getElementById("conjuge_form").style.display = "none";
    }

    function adicionarLinhaDependente() {
      var table = document.getElementById("dependente_table").getElementsByTagName('tbody')[0];
      var newRow = table.insertRow(table.rows.length);
      var cell1 = newRow.insertCell(0);
      cell1.innerHTML = '<input class="inputsDependente" type="text" name="descricao_patrimonio_dependente[]" required>';
      var cell2 = newRow.insertCell(1);
      cell2.innerHTML = '<input class="inputsDependente" type="text" name="valor_patrimonio_dependente[]" required>';
    }

    // Função para abrir o modal
    document.getElementById('declaracaoForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Impede o submit padrão
      document.getElementById('termosModal').style.display = 'block';
    });

    // Função para fechar o modal e marcar a caixa de seleção
    function aceitarTermos() {
      document.getElementById('termosModal').style.display = 'none';
      document.getElementById('declaracaoForm').submit(); // Submete o formulário
    }

    document.getElementById('declaracaoForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Impede o submit padrão

      document.getElementById('termosModal').style.display = 'block';
    });

    function abrirModal() {
      document.getElementById('termosModal').style.display = 'block';
    }  
  </script>
</body>

</html>